In [1]:
import pandas as pd

In [2]:
acad_df=pd.read_csv('Academics.csv')

In [3]:
acad_df.head()

                                             Text  Category
0  Where does your passion for science come from?       NaN
1                                         foreign       NaN
2                           for science come from       NaN
3                                when I was a kid       NaN
4        I lived in a small village in France and       NaN

In [26]:
law_df=pd.read_csv('Lawyers.csv')

In [27]:
law_df.head()

                                                Text  Category
0  In 2000, David Boies appeared before the Supre...         0
1  in Bush v Gore you had sort of the highest sta...         0
2  politically related case that was a case in wh...         0
3              States was on the line and as someone         0
4  who as I said earlier it would have been a Ame...         0

In [7]:
med_df=pd.read_csv('Medicine.csv')

In [14]:
med_df.head()

                                                Text  Category
0  you should know assuming yeah welcome to Nobel...         1
1  laureates yeah I were asked to bring a thing a...         1
2  I loved these true things yeah I I won't expla...         1
3  gift from my colleagues last year I got this a...         1
4                 ago on me and they III didn't know         1

In [9]:
cre_df=pd.read_csv('Creatives.csv')

In [15]:
cre_df.head()

                                                Text  Category
0  I know we made a good piece of Television like...       NaN
1  because of the story it was because of the hea...       NaN
2  to make a movie for $670 million for it to be ...       NaN
3  and a lot of us come from that that truth than...       NaN
4  script with The Hollywood Reporter I am your h...       NaN

In [10]:
mba_df=pd.read_csv('Mba.csv')

In [16]:
mba_df.head()

                                                Text  Category
0  Jamie, welcome and thank you very much for com...       NaN
1  friends, from other places.   This is the thir...       NaN
2  regret in choosing our competitor on the east ...       NaN
3  my daughter went to Harvard Business School an...       NaN
4  But we love Stanford.    I like to come out he...       NaN

In [11]:
eng_df=pd.read_csv('Engineer.csv')

In [17]:
eng_df.head()

                                       Text  Category
0     ladies and gentlemen I have a dream a       NaN
1   dream that we can end poverty something       NaN
2      I'm sure that we all share but to do       NaN
3   that we have to change the conversation       NaN
4  about poverty today I'm going to take us       NaN

In [12]:
acc_df=pd.read_csv('Accountant.csv')

In [18]:
acc_df.head()

                                                Text  Category
0                               Hi, I'm Bill Ackman.       NaN
1  I'm the CEO of Pershing Square Capital Managem...       NaN
2  you'll be ready to go. How to Start and Grow a...       NaN
3  So let's begin. We're going to go into busines...       NaN
4  We're going to start a company and we're going...       NaN

Cleaning Dataset

Lawyer-0
Medicine-1
Academic-2
Engineer-3
Creative-4
MBA-5
Accountant-6

In [24]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string

# Load NLTK resources
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')



# Function to clean text
def clean_text(text):
    if isinstance(text, str):
        # Tokenize text
        tokens = word_tokenize(text.lower())

        # Remove stopwords and punctuation
        stop_words = set(stopwords.words('english'))
        tokens = [word for word in tokens if (word not in stop_words and word not in string.punctuation)]

        # Lemmatize words
        lemmatizer = WordNetLemmatizer()
        tokens = [lemmatizer.lemmatize(word) for word in tokens]

        # Join tokens back into a string
        clean_text = ' '.join(tokens)

        return clean_text
    else:
        return ''

[nltk_data] Downloading package punkt to C:\Users\Aditya
[nltk_data]     Jha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Aditya
[nltk_data]     Jha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Aditya
[nltk_data]     Jha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [23]:
# Clean the 'Text' column
acad_df['Text'] = acad_df['Text'].apply(clean_text)

# Assign each 'Category' as 2
acad_df['Category'] = 2

# Display the cleaned DataFrame
print(acad_df)

                            Text  Category
0           passion science come         2
1                        foreign         2
2                   science come         2
3                            kid         2
4     lived small village france         2
...                          ...       ...
2920       serious sort way half         2
2921     century uh 's something         2
2922         different also hard         2
2923                   'm new 's         2
2924            challenge 's joy         2

[2925 rows x 2 columns]

In [28]:
# Clean the 'Text' column
law_df['Text'] = law_df['Text'].apply(clean_text)

# Assign each 'Category' as 0
law_df['Category'] = 0

# Display the cleaned DataFrame
print(law_df)

                                                   Text  Category
0     2000 david boy appeared supreme court case bus...         0
1                        bush v gore sort highest stake         0
2       politically related case case presidency united         0
3                                    state line someone         0
4     said earlier would american history teacher n'...         0
...                                                 ...       ...
1545                       sometime may understand hope         0
1546                                least catch england         0
1547                    perhaps surpasses understanding         0
1548                               problem vital supply         0
1549                                              state         0

[1550 rows x 2 columns]

In [30]:
# Clean the 'Text' column
med_df['Text'] = med_df['Text'].apply(clean_text)

# Assign each 'Category' as 1
med_df['Category'] = 1

# Display the cleaned DataFrame
print(med_df)

                                                   Text  Category
0     know assuming yeah welcome nobel week stockhol...         1
1     laureate yeah asked bring thing artifact nobel...         1
2                  loved true thing yeah wo n't explain         1
3        gift colleague last year got miniature 27 year         1
4                                      ago iii n't know         1
...                                                 ...       ...
2086                               song society rightly         1
2087                               seeking 'm see 'm 'm         1
2088                          believe thing begin basic         1
2089                      principle get knowledge right         1
2090                                  many people build         1

[2091 rows x 2 columns]

In [32]:
# Clean the 'Text' column
eng_df['Text'] = eng_df['Text'].apply(clean_text)

# Assign each 'Category' as 1
eng_df['Category'] = 3

# Display the cleaned DataFrame
print(eng_df)

                               Text  Category
0              lady gentleman dream         3
1       dream end poverty something         3
2                     'm sure share         3
3               change conversation         3
4     poverty today 'm going take u         3
...                             ...       ...
2164     degree needed someone hold         3
2165            hand teach day hold         3
2166              degree hand begin         3
2167                teach keep mind         3
2168                      god bless         3

[2169 rows x 2 columns]

In [33]:
# Clean the 'Text' column
cre_df['Text'] = cre_df['Text'].apply(clean_text)

# Assign each 'Category' as 4
cre_df['Category'] = 4

# Display the cleaned DataFrame
print(cre_df)

                                                   Text  Category
0     know made good piece television like know know...         4
1                       story heart commitment n't need         4
2                 make movie 670 million good know fact         4
3               lot u come truth thank hey welcome offs         4
4     script hollywood reporter host ivan orgy georg...         4
...                                                 ...       ...
3105                            let 's create character         4
3106                                     could inspired         4
3107                                     also keep vein         4
3108                      edgar allen poe 's story well         4
3109                  think scott stanley 's superb job         4

[3110 rows x 2 columns]

In [34]:
# Clean the 'Text' column
mba_df['Text'] = mba_df['Text'].apply(clean_text)

# Assign each 'Category' as 1
mba_df['Category'] = 5

# Display the cleaned DataFrame
print(mba_df)

                                                   Text  Category
0     jamie welcome thank much coming today pleasure...         5
1     friend place third 've come talk u ask lucky p...         5
2     regret choosing competitor east coast business...         5
3     daughter went harvard business school two son-...         5
4     love stanford like come time come realize n't ...         5
...                                                 ...       ...
2428                    looked next said warehouse kind         5
2429  true jit factory stuff come delivered right po...         5
2430  warehouse delivery made daily sometimes freque...         5
2431              outgoing warehouse everything visible         5
2432                           reason able lot 've done         5

[2433 rows x 2 columns]

In [35]:
# Clean the 'Text' column
acc_df['Text'] = acc_df['Text'].apply(clean_text)

# Assign each 'Category' as 1
acc_df['Category'] = 6

# Display the cleaned DataFrame
print(acc_df)

                                                   Text  Category
0                                     hi 'm bill ackman         6
1     'm ceo pershing square capital management 'm t...         6
2                      'll ready go start grow business         6
3           let 's begin 're going go business together         6
4     're going start company 're going start lemona...         6
...                                                 ...       ...
2007                            big idea well next time         6
2008                               small idea next time         6
2009                             want something go talk         6
2010                    accountant get financial mentor         6
2011                                              thank         6

[2012 rows x 2 columns]

In [36]:
combined_df = pd.concat([law_df, med_df, acad_df, eng_df, cre_df, mba_df, acc_df])

In [37]:
combined_df

                                                   Text  Category
0     2000 david boy appeared supreme court case bus...         0
1                        bush v gore sort highest stake         0
2       politically related case case presidency united         0
3                                    state line someone         0
4     said earlier would american history teacher n'...         0
...                                                 ...       ...
2007                            big idea well next time         6
2008                               small idea next time         6
2009                             want something go talk         6
2010                    accountant get financial mentor         6
2011                                              thank         6

[16290 rows x 2 columns]

In [38]:
# Shuffle the rows
combined_df = combined_df.sample(frac=1).reset_index(drop=True)

In [39]:
combined_df

                                                    Text  Category
0            smoking ban maybe think administration stay         5
1      energy 's matter fostering open communication ...         2
2                       people pakistan every day answer         3
3                  liquid position many day get told ten         5
4      fundamentally 's operating system 's better pl...         5
...                                                  ...       ...
16285        n't need another hero tina 's dancing queen         4
16286                         solved started yet exactly         1
16287                                                bad         1
16288  want tell kept low made sure equitable everyon...         4
16289  year period time multiple world war kind know ...         6

[16290 rows x 2 columns]

Model Implementation

In [45]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from transformers import DistilBertTokenizer, TFDistilBertForSequenceClassification, Trainer, TrainingArguments
import tensorflow as tf

# Load combined_df
# combined_df = pd.read_csv('combined_df.csv')  # Assuming you have combined_df saved as a CSV file

# Split data into features and labels
texts = combined_df['Text'].tolist()
labels = combined_df['Category'].tolist()

# Split data into training and testing sets
train_texts, test_texts, train_labels, test_labels = train_test_split(texts, labels, test_size=0.2, random_state=42)

# Load DistilBERT tokenizer
tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased')

# Tokenize texts
train_encodings = tokenizer(train_texts, truncation=True, padding=True)
test_encodings = tokenizer(test_texts, truncation=True, padding=True)

# Convert labels to tensors
train_labels = tf.convert_to_tensor(train_labels)
test_labels = tf.convert_to_tensor(test_labels)

# Define training arguments
training_args = TrainingArguments(
    output_dir='./results',   # Provide a directory to save the model and logs
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    num_train_epochs=3,
    logging_dir='./logs',
    logging_steps=100,
    evaluation_strategy="steps",
    eval_steps=500,
    save_steps=1000,
    load_best_model_at_end=True
)

# Load DistilBERT model for sequence classification
model = TFDistilBertForSequenceClassification.from_pretrained('distilbert-base-uncased', num_labels=7)

# Define Trainer
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=(train_encodings, train_labels),
    eval_dataset=(test_encodings, test_labels)
)

# Train the model
trainer.train()

# Use the trained model for inference
def predict_category(text):
    # Preprocess text
    inputs = tokenizer(text, return_tensors='tf', truncation=True, padding=True)
    
    # Perform inference
    outputs = model(inputs)
    probabilities = tf.nn.softmax(outputs.logits, axis=1).numpy()[0]
    
    return probabilities

# Example usage:
new_text = "I am passionate about coding and building software."
probabilities = predict_category(new_text)
category_labels = ['Lawyer', 'Medicine', 'Academic', 'Engineer', 'Creative', 'MBA', 'Accountant']
for category, probability in zip(category_labels, probabilities):
    print(f"{category}: {probability * 100:.2f}%")

Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFDistilBertForSequenceClassification: ['vocab_layer_norm.weight', 'vocab_layer_norm.bias', 'vocab_transform.bias', 'vocab_projector.bias', 'vocab_transform.weight']
- This IS expected if you are initializing TFDistilBertForSequenceClassification from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFDistilBertForSequenceClassification from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
Some weights or buffers of the TF 2.0 model TFDistilBertForSequenceClassification were not initialized from the PyTorch model and are newly initialized: ['pre_classifier.weight', 'pre_classifier.bias', 'classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

ImportError:
Trainer requires the PyTorch library but it was not found in your environment.
However, we were able to find a TensorFlow installation. TensorFlow classes begin
with "TF", but are otherwise identically named to our PyTorch classes. This
means that the TF equivalent of the class you tried to import would be "TFTrainer".
If you want to use TensorFlow, please use TF classes instead!

If you really do want to use PyTorch please go to
https://pytorch.org/get-started/locally/ and follow the instructions that
match your environment.

In [41]:
pip install torch

Collecting torch
  Downloading torch-2.2.1-cp39-cp39-win_amd64.whl (198.5 MB)
     ------------------------------------ 198.5/198.5 MB 529.8 kB/s eta 0:00:00
Collecting typing-extensions>=4.8.0
  Downloading typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Requirement already satisfied: jinja2 in c:\users\aditya jha\anaconda3\lib\site-packages (from torch) (2.11.3)
Requirement already satisfied: filelock in c:\users\aditya jha\anaconda3\lib\site-packages (from torch) (3.6.0)
Requirement already satisfied: networkx in c:\users\aditya jha\anaconda3\lib\site-packages (from torch) (2.8.4)
Requirement already satisfied: sympy in c:\users\aditya jha\anaconda3\lib\site-packages (from torch) (1.10.1)
Requirement already satisfied: fsspec in c:\users\aditya jha\anaconda3\lib\site-packages (from torch) (2024.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\aditya jha\anaconda3\lib\site-packages (from jinja2->torch) (2.0.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\aditya jha\anaconda3\lib\site-packages (from sympy->torch) (1.2.1)
Installing collected packages: typing-extensions, torch
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.3.0
    Uninstalling typing_extensions-4.3.0:
      Successfully uninstalled typing_extensions-4.3.0
Successfully installed torch-2.2.1 typing-extensions-4.10.0
Note: you may need to restart the kernel to use updated packages.

In [46]:
import pandas as pd
import numpy as np
import tensorflow as tf
from transformers import DistilBertTokenizer, TFDistilBertForSequenceClassification
from sklearn.model_selection import train_test_split


# Define DistilBERT tokenizer
tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased')

# Tokenize input data
def tokenize_data(text):
    return tokenizer(text, padding=True, truncation=True, return_tensors='tf')

# Split data into training and testing sets
train_texts, test_texts, train_labels, test_labels = train_test_split(
    combined_df['Text'].tolist(), 
    combined_df['Category'].tolist(), 
    test_size=0.2, 
    random_state=42
)

# Tokenize training and testing data
train_encodings = tokenize_data(train_texts)
test_encodings = tokenize_data(test_texts)

# Define TensorFlow Dataset
train_dataset = tf.data.Dataset.from_tensor_slices((
    dict(train_encodings),
    train_labels
))
test_dataset = tf.data.Dataset.from_tensor_slices((
    dict(test_encodings),
    test_labels
))

# Define DistilBERT model architecture for sequence classification
model = TFDistilBertForSequenceClassification.from_pretrained('distilbert-base-uncased', num_labels=7)

# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=5e-5)
loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
metrics = ['accuracy']
model.compile(optimizer=optimizer, loss=loss, metrics=metrics)

# Train the model
model.fit(train_dataset.shuffle(1000).batch(16), epochs=3, batch_size=16)

# Predict probabilities for each category for new text inputs
def predict_probabilities(text):
    # Tokenize text
    encoded_input = tokenizer(text, padding=True, truncation=True, return_tensors='tf')
    
    # Predict probabilities
    logits = model(encoded_input)[0]
    probabilities = tf.nn.softmax(logits, axis=1)
    
    return probabilities.numpy()[0]

# Example usage:
new_text = "I am passionate about coding and building software."
probabilities = predict_probabilities(new_text)
category_probabilities = {label: prob for label, prob in enumerate(probabilities)}
print(category_probabilities)

Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFDistilBertForSequenceClassification: ['vocab_layer_norm.weight', 'vocab_layer_norm.bias', 'vocab_transform.bias', 'vocab_projector.bias', 'vocab_transform.weight']
- This IS expected if you are initializing TFDistilBertForSequenceClassification from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFDistilBertForSequenceClassification from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
Some weights or buffers of the TF 2.0 model TFDistilBertForSequenceClassification were not initialized from the PyTorch model and are newly initialized: ['pre_classifier.weight', 'pre_classifier.bias', 'classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1/3
WARNING:tensorflow:From C:\Users\Aditya Jha\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Aditya Jha\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

815/815 [==============================] - 1775s 2s/step - loss: 1.3015 - accuracy: 0.5153
Epoch 2/3
815/815 [==============================] - 2469s 3s/step - loss: 0.8514 - accuracy: 0.7010
Epoch 3/3
815/815 [==============================] - 5552s 4s/step - loss: 0.5241 - accuracy: 0.8201
{0: 0.000270618, 1: 0.00013845049, 2: 0.0027205795, 3: 0.99279493, 4: 0.00014726695, 5: 0.0036457388, 6: 0.00028242145}

In [49]:
# Example usage:
new_text = "Having worked in sales for over a decade, I have developed a keen understanding of market trends and customer behavior."
probabilities = predict_probabilities(new_text)
category_probabilities = {label: prob for label, prob in enumerate(probabilities)}
print(category_probabilities)

{0: 0.0007894639, 1: 0.00047684525, 2: 0.00078851514, 3: 0.007558828, 4: 0.00090521085, 5: 0.75302744, 6: 0.2364537}

In [52]:
"Having worked in sales for over a decade, I have developed a keen understanding of market trends and customer behavior."

'Having worked in sales for over a decade, I have developed a keen understanding of market trends and customer behavior.'

In [50]:
"Throughout my life, I've been fascinated by the intricate workings of the human body and the pursuit of understanding diseases and their treatments. From a young age, I've been drawn to biology and chemistry, eagerly devouring books and articles on topics ranging from genetics to pharmacology. My dream is to become a doctor and make a meaningful impact on the lives of others through the practice of medicine."

"Throughout my life, I've been fascinated by the intricate workings of the human body and the pursuit of understanding diseases and their treatments. From a young age, I've been drawn to biology and chemistry, eagerly devouring books and articles on topics ranging from genetics to pharmacology. My dream is to become a doctor and make a meaningful impact on the lives of others through the practice of medicine."

In [51]:
# Example usage:
new_text = "Throughout my life, I've been fascinated by the intricate workings of the human body and the pursuit of understanding diseases and their treatments. From a young age, I've been drawn to biology and chemistry, eagerly devouring books and articles on topics ranging from genetics to pharmacology. My dream is to become a doctor and make a meaningful impact on the lives of others through the practice of medicine."

probabilities = predict_probabilities(new_text)
category_probabilities = {label: prob for label, prob in enumerate(probabilities)}
print(category_probabilities)

{0: 0.0002650557, 1: 0.10477058, 2: 0.88852096, 3: 0.0043039164, 4: 0.00050196185, 5: 0.00046636706, 6: 0.0011712192}

Fine Tuning

In [53]:
# Save the trained model
model.save_pretrained("distilbert_model")

# Load the saved model
loaded_model = TFDistilBertForSequenceClassification.from_pretrained("distilbert_model")

# Optionally, you can continue fine-tuning the loaded model
# Compile the loaded model
optimizer = tf.keras.optimizers.Adam(learning_rate=5e-5)
loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
metrics = ['accuracy']
loaded_model.compile(optimizer=optimizer, loss=loss, metrics=metrics)

# Fine-tune the loaded model
loaded_model.fit(train_dataset.shuffle(1000).batch(16), epochs=3, batch_size=16)

Some layers from the model checkpoint at distilbert_model were not used when initializing TFDistilBertForSequenceClassification: ['dropout_59']
- This IS expected if you are initializing TFDistilBertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFDistilBertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some layers of TFDistilBertForSequenceClassification were not initialized from the model checkpoint at distilbert_model and are newly initialized: ['dropout_79']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1/3
815/815 [==============================] - 2038s 2s/step - loss: 0.2851 - accuracy: 0.9041
Epoch 2/3
815/815 [==============================] - 17208s 21s/step - loss: 0.1728 - accuracy: 0.9401
Epoch 3/3
815/815 [==============================] - 4560s 6s/step - loss: 0.1430 - accuracy: 0.9535